* {
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  justify-content: space-between;
  text-align: center;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 2fr 1fr 15fr 1fr;
  gap: 4px;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.header {
  display: grid;
  column-gap: 260px;
  grid-template-columns: 1fr 4fr;
  background-color: #393f4d;
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

.header .menu {
  display: grid;
}

.header .menu ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
}

.header .logo {
  display: grid;
  align-items: center;
}

.nav {
  display: grid;
}

.nav ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
}

.nav ul,
.menu ul {
  font-size: 16px;
  list-style-type: none;
}

.sidebar {
  display: grid;
  gap: 50px;
  background-color: #C50208;
  grid-column: 1 / 2;
  grid-row: 2 / 4;
}

.sidebar .photo {
  display: grid;
  align-items: center;
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
}

.sidebar .side-content {
  display: grid;
  align-items: center;
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
}

.nav {
  background-color: #C50208;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.nav ul li {
  text-transform: uppercase;
}

.article {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
  background-color: #bccbde;
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
  padding: 8px;
}

.article .card {
  background-color: #FFFFFF;
  color: black;
  text-align: center;
  height: 200px;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  background-color: #393f4d;
  grid-column: 1 / 3;
  grid-row: 4 / 5;
}

.footer p {
  font-size: 13px;
  font-weight: normal;
}